# A Quick Look into Suicide Rates

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df = pd.read_csv('master.csv')

In [49]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

## Grouping Total Suicide Per Country

In [39]:
countries = df['country'].unique()
total_suicides = []

for country in countries:
    suicides = df[df['country'] == country]['suicides_no'].sum()
    total_suicides.append(suicides)

In [40]:
country_df = pd.DataFrame([countries, total_suicides]).transpose()
country_df.columns = ['Country', 'Total Suicides']

In [47]:
country_df.head()

               Country Total Suicides
0              Albania           1970
1  Antigua and Barbuda             11
2            Argentina          82219
3              Armenia           1905
4                Aruba            101

## Grouping Total Suicide Per Year

In [50]:
years = df['year'].unique()
total_suicides = []

for year in years:
    suicides = df[df['year'] == year]['suicides_no'].sum()
    total_suicides.append(suicides)

In [51]:
year_df = pd.DataFrame([years, total_suicides]).transpose()
year_df.columns = ['Year', 'Total Suicides']

In [52]:
year_df.head()

   Year  Total Suicides
0  1987          126842
1  1988          121026
2  1989          160244
3  1992          211473
4  1993          221565